{% extends 'backbase.html.twig' %}
{% block content %}
    <h1>Article creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}


        <button>
            <a href="{{ path('article_indexback') }}">Back to the list</a>
        </button>

{% endblock content %}
